/*RED HAT MONO is our font of choice*/
/*font-family: 'Red Hat Mono', monospace;*/

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url('/images/theater-background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: visible;
    background: #fff url(/images/movie-loading.gif) no-repeat center center;
}

#logo {
    height: 10vh;
    width: 10vh;
}

#movieCard {
    width: 95%;
}

.navbar-style {
    background-color: #b1a7a6;
    font-family: 'Red Hat Mono', monospace;
    font-weight: 700;
}

.navbar-brand {
    color: #660708 !important;
}

.nav-link {
    color: #660708 !important;
}

.modal-content {
    background-color: #d3d3d3 !important;
    font-family: 'Red Hat Mono', monospace;
    font-weight: 400;
}

.bg-primary {
    background-color: #A4161A!important;
}

.poster {
    max-height: 25vh;
    width: 18vh;
    border: white solid 3px;
}

#delete-movie {
    text-alighn: left;
    overflow: hidden;
    width: 100%;
}
